[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
django-ipware = "*"
Django = "*"

[requires]
python_version = "3.9"
